.big-container {
  text-align: center;
}

.input::placeholder {
  font-size: 10px;
}

.todo-row {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 2px;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  padding-left: 40px;
}

.edit-form {
  padding-top: 1opx;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}
